a.out
Instructions_typeset/GiacominiInstructions_typeset.log
Instructions_typeset/GiacominiInstructions_typeset.out
Instructions_typeset/GiacominiInstructions_typeset.aux
Instructions_typeset/GiacominiInstructions_typeset.pdf
Instructions_typeset/GiacominiInstructions_typeset.toc
Instructions_typeset/GiacominiInstructions_typeset.synctex.gz
.DS_Store
.vscode
main
main.dSym
.vscode/c_cpp_properties.json
.vscode/tasks.json
doctest.h